body {
    margin:0;
    padding: 0.5em;
    height:75vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    color:black;
    background-color: blanchedalmond;
    padding: 40px;
    width:70%;
    margin:20px ;
}
button{
    color:white;
    background-color: black;
}
